# Python Operators 
* Arithmetic Operators:
*     + : Addition
*     - : Subtraction
*     * : Multiplication
*     / : Division
*     % : Modulus
*     ** : Exponentiation
*     // : Floor division

In [1]:
a : int = 7
b : int = 2

print(a + b) # addiction
print(a - b) # subtraction
print(a * b) # Multiplication
print(a / b) # division
print(a % b) # Modulus
print(a ** b) # Exponentiation
print(a // b) # Floor division

9
5
14
3.5
1
49
3

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Arithmetic operators

In [2]:
a : int = 7
b : int = 2

print(a + b) # addiction
print(a - b) # subtraction
print(a * b) # Multiplication
print(a / b) # division
print(a % b) # Modulus
print(a ** b) # Exponentiation
print(a // b) # Floor division

9
5
14
3.5
1
49
3

# Assignment operators
* Operator	  
*   =	  
*  +=	   
*  -= 
*  *=	   
*  /=	 
*  %= 	
*  //=	
*  **=

In [3]:
# = assign
a : int = 7
print(a)

7

In [4]:
# += assign
a : int = 7
print(a)
a  += 3
print(a)

7
10

In [5]:
# -= assign
a : int = 7
print(a)
a  -= 3
print(a)

7
4

In [6]:
# *= assign
a : int = 7
print(a)
a  *= 3
print(a)

7
21

In [7]:
# /= assign
a : int = 7
print(a)
a  /= 3
print(a)

7
2.3333333333333335

In [8]:
# %= assign
a : int = 7
print(a)
a  %= 3
print(a)

7
1

In [9]:
# **= assign
a : int = 7
print(a)
a  **= 3
print(a)

7
343

In [10]:
# //= assign
a : int = 7
print(a)
a  //= 3
print(a)

7
2

# Comparison Operators
* ==	
* !=
*  ``>		
*  <		
*  ``>=	
*  <=

In [11]:
# == assign
a : int = 7
b : int = 10
print(a == b)
# a == b
# 7 == 10
# false

False

In [12]:
# == assign
a : int = 7
b : int = 7
print(a == b)
# a == b
# 7 == 7
# true

True

In [13]:
# != assign
a : int = 7
b : int = 7
print(a != b)
# a == b
# 7 == 7
# false

False

In [14]:
# != assign
a : int = 7
b : int = 4
print(a != b)
# a == b
# 7 == 4
# true

True

In [15]:
# > Greater than assign
a : int = 7
b : int = 4
print(a > b)
# a > b
# 7 > 4
# true

True

In [16]:
# > Greater than assign
a : int = 7
b : int = 8
print(a > b)
# a > b
# 7 > 8
# false

False

In [17]:
# > Greater than assign
a : int = 7
b : int = 7
print(a > b)
# a > b
# 7 > 7
# false

False

In [18]:
# < Less than assign
a : int = 7
b : int = 4
print(a < b)
# a < b
# 7 < 4
# false

False

In [19]:
# < Less than assign
a : int = 7
b : int = 10
print(a < b)
# a < b
# 7 < 10
# true

True

In [21]:
# < Less than assign
a : int = 7
b : int = 7
print(a < b)
# a < b
# 7 < 7
# false

False

In [22]:
# >= Greater than or equal assign
a : int = 7
b : int = 4
print(a >= b)
# a >= b
# 7 >= 4
# true

True

In [23]:
# >= Greater than or equal  assign
a : int = 7
b : int = 11
print(a >= b)
# a >= b
# 7 >= 11
# false

False

# ASCII code
```
A = 65
B = 66 
Z = 90

a = 97
b = 98  
z = 122

0 = 48 
1 = 49 
9 = 57
```

In [25]:
# >= Greater than or equal  assign
a : str = "A"
b : str = 'B'
print(a >= b)
# a >= b
# A >= B
# false

False

In [27]:
# >= Greater than or equal  assign
a : str = "C"
b : str = 'A'
print(a >= b)
# a >= b
# C >= A
# true

True

In [29]:
# >= Greater than or equal  assign
a : str = "A"
b : str = 'a'
print(b >= a)
# a >= b
# A >= a
# true

True

In [30]:
# >= Greater than or equal  assign
a : str = "a"
b : str = 'z'
print(a >= b)
# a >= b
# a >= z
# False

False

In [31]:
ord('A')

65

In [32]:
chr(65)

'A'

# Logical Operators
* and
* or
* not

In [45]:
# and  (lazmi)
# or  optional
#      1         2        3        4
print(True and True and True and True)
print(True and False and True and True)
print(False and False and False and True)
print(True or False or False)
print(False or True)

True
False
False
True
True

In [50]:
name : str = "Abdul Basit "
print(not name== "Abdul Basit ")

False

In [51]:
name : str = "Abdul Basit "
print(not name== "Qasim ")

True

In [52]:
name : str = "Abdul Basit "
print(name != "Abdul Basit ")

False

In [53]:
name : str = "Abdul Basit "
print(name != "Abdul Dayyan ")

True

# Identity Operators
* is      
* Description : Returns True if both variables are the same object
* is not
* Description : Returns True if both variables are not the same object

In [60]:
x : str = "abc"
z : str = "abc"

print(id(x))
print(id(z))
x is z

140713978118320
140713978118320

True

In [61]:
x : str = "abc"
z : str = "xyz"

print(id(x))
print(id(z))
x is z

140713978118320
2829841600208

False

In [59]:
x : str = "abc"
z : str = "abc"

print(id(x))
print(id(z))

x is not z

140713978118320
140713978118320

False

In [62]:
x : str = "abc"
z : str = "xyz"

print(id(x))
print(id(z))

x is not z

140713978118320
2829841600208

True

# Membership Operators

* in
* Description: Returns True if a sequence with the specified value is present in the object
* not in
* Description: Returns True if a sequence with the specified value is not present in the object

In [1]:
names : list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [3]:
names : list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i , names[i])
    if names[i] == "H" :
        print("True")
        break

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
True

In [4]:
names : list[str] = [chr(i) for i in range(65,91)]
"B" in names

True

In [5]:
names : list[str] = [chr(i) for i in range(65,91)]
"pakistan" in names

False

In [7]:
names : list[str] = [chr(i) for i in range(65,91)]
'J' in names

True

In [13]:
# If we take user input, if it is within our list, our response will return true, if it is not within it, our response will return false.
names : list[str] = ["Abdul Basit" , "Abdul Dayyan" , "Qasim" , "Ahmad"]
uinput : str = input("Enter your name")

uinput in names

True

# not in

In [8]:
names : list[str] = [chr(i) for i in range(65,91)]
'j' not in names

True

In [9]:
names : list[str] = [chr(i) for i in range(65,91)]
'B' not in names

False

In [10]:
names : list[str] = [chr(i) for i in range(65,91)]
'a' not in names

True

In [15]:
# Block list 
names : list[str] = ["Abdul Basit" , "Abdul Dayyan" , "Qasim" , "Ahmad"]
uinput : str = input("Enter your name")

uinput not in names

True

# Operator Precedence
* operations (PEMDAS/BODMAS), which stands for Parentheses/Brackets, Exponents/Orders (i.e., powers and square roots, etc.), Multiplication and Division (left-to-right), and Addition and Subtraction (left-to-right). Here's how you can solve this equation step by step:

In [21]:
"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""
print((6 + 3) - (6 + 3))

0

# Walrus Operator

In [2]:
# Bina Walrus Operator:
user_input = input("Enter a number: ")
if int(user_input) > 10:
    print("Number is greater than 10:", user_input)
else:
    print("Number is less than or equal to 10:", user_input)

Number is greater than 10: 11

In [6]:
# Walrus Operator se:
if int(user_input := input("Enter a number: ")) > 10:
    print("Number is greater than 10:", user_input)
else:
    print("Number is less than or equal to 10:", user_input)

Number is greater than 10: 44

# The Zen of Python

In [7]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!